In [5]:
def even(a):
    if(a%2==0):
        print('even')
    else:
        print('odd')
        
even(1)

odd

In [11]:
def sum():
    a = int(input('enter the 1st number: '))
    b = int(input('enter 2nd number: '))
    
    c = a+b
    
    print(c)
    
sum()

enter the 1st number: 5
enter 2nd number: 5
10

In [12]:
def num(*n) :
    for i in n:
        print(i)
        
num(1,2,3,4,34,53,5,45,67,46)

1
2
3
4
34
53
5
45
67
46

In [13]:
def func3(x):
    return 5*x
print(func3(3))
print(func3(5))
print(func3(9))

15
25
45

In [14]:
import pandas as pd
dict={
"country":["brazil","russia","india","china","south africa"],
"capital":["brasilia","moscow","new delhi","bejing","pretoria"],
"area":[8.56,17.10,3.268,7.24,1.221],
"population":[128.3,587,7643,2456,3564]    
}
brics=pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        brazil   brasilia   8.560       128.3
1        russia     moscow  17.100       587.0
2         india  new delhi   3.268      7643.0
3         china     bejing   7.240      2456.0
4  south africa   pretoria   1.221      3564.0

In [16]:
brics=pd.read_csv('cereal.csv')
brics

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [17]:
brics.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [18]:
brics.tail(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [19]:
brics.shape

(77, 16)

In [20]:
brics['name']

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [22]:
brics[{'name','type'}]

C:\Users\dsca\AppData\Local\Temp\ipykernel_7132\131025321.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  brics[{'name','type'}]

                         name type
0                   100% Bran    C
1           100% Natural Bran    C
2                    All-Bran    C
3   All-Bran with Extra Fiber    C
4              Almond Delight    C
..                        ...  ...
72                    Triples    C
73                       Trix    C
74                 Wheat Chex    C
75                   Wheaties    C
76        Wheaties Honey Gold    C

[77 rows x 2 columns]

In [23]:
brics.iloc[[1,2,3],[0,1]]

                        name mfr
1          100% Natural Bran   Q
2                   All-Bran   K
3  All-Bran with Extra Fiber   K

In [24]:
brics.iloc[[2,3,4],[1,2,4]]

  mfr type  protein
2   K    C        4
3   K    C        4
4   R    C        2

In [26]:
brics[brics['name'] == 'Trix']

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301

In [6]:
brics=pd.read_csv('cereal.csv')
brics

import seaborn as sns

sns.boxplot(x=cr,'type',y=cr,'calories')

SyntaxError: positional argument follows keyword argument (4088504952.py, line 6)